<div class="container mt-5">
  
  <h2>Display Data from Json</h2>
  
      <!-- <ul *ngFor="let user of Users">
        <li>Report Name: <span>{{ user.ReportName }}</span></li>
        <li>Accounting Period: <span>{{ user.Accountingperiod }}</span></li>
        <li>Row: <span>{{ user.Category.Row }}</span></li>
        <li>Section: <span>{{ user.Category.Section }}</span></li>
        <li>Dashboard: <span>{{ user.Category.Dashboard }}</span></li>
        <li>Report: <span>{{ user.Category.Report }}</span></li>
        <li>SectionIdentifier: <span>{{ user.SectionIdentifier }}</span></li>
        <li>UserID: <span>{{ user.UserID }}</span></li>
        <li>Timestamp: <span>{{ user.Timestamp }}</span></li>
        <li>Comment: <span>{{ user.Comment }}</span></li>
      </ul> -->
  <div class="form-group">
      <ng-container *ngFor="let user of Users">
        report Name : <input type="text" class="form-control" placeholder="Report Name" required="" [value]="user.ReportName" /><br>
        Accounting Period : <input type="text" class="form-control" placeholder="Accounting Period" required="" [value]="user.Accountingperiod" /><br>
        Row : <input type="text" class="form-control" placeholder="Row" required="" [value]="user.Category.Row" /><br>
        Section : <input type="text" class="form-control" placeholder="Section" required="" [value]="user.Category.Section" /><br>
        Dashboard : <input type="text" class="form-control" placeholder="Dashboard" required="" [value]="user.Category.Dashboard" /><br>
        Report : <input type="text" class="form-control" placeholder="Report" required="" [value]="user.Category.Report" /><br>
        Section Identifier : <input type="text" class="form-control" placeholder="SectionIdentifier" required="" [value]="user.SectionIdentifier" /><br>
        User ID : <input type="text" class="form-control" placeholder="UserID" required="" [value]="user.UserID" /><br>
        Timestamp : <input type="text" class="form-control" placeholder="Timestamp" required="" [value]="user.Timestamp" /><br>
        Comment : <input type="text" class="form-control" placeholder="Comment" required="" [value]="user.Comment" /><br>
    </ng-container>
  </div>
</div>